@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}


.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.sectionSignUp {
width: 600px;
background-color : rgba(232,217,217,.3)
button background-color  #FB3B49;
button 8px 8px 0 rgba(251,59,73,.2)
}


.sectionsecond {
  heading background-color  rgba(255,204,53,.4)
  transform: skew(9deg,0deg)
  font-style: italic;
  margin property
} 

.sectionOptions {
  heading letter lighting-color:  #ED1C24;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2)
org letter color :white
}

